body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
    text-align: center;
}

#userInteraction {
    background-color: #ecf0f1;
}


form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (min-width: 0px) {
    * {
      box-sizing: border-box;
    }

    .title {
        margin: 0;
        padding: 5px;
        font-size: 20px;
        color: grey;
        font-family: monospace;
        text-align: center;
      }
    
      .squares-container {
        /*targeting Chrome & Safari*/
        display: -webkit-flex;
        /*targeting IE10*/
        display: -ms-flex;
        display: flex;
        justify-content: space-evenly;
        /*horizontal centering*/
        align-items: center;
        flex-direction: row;
      }
    
      .draggable-container {
        height: 90px;
        width: 90px;
        /*targeting Chrome & Safari*/
        display: -webkit-flex;
        /*targeting IE10*/
        display: -ms-flex;
        display: flex;
        justify-content: center;
        /*horizontal centering*/
        align-items: center;
      }
    
      #draggable-element {
        height: 90px;
        width: 90px;
        background-color: lightcoral;
        cursor: pointer;
      }
    
      .pink {
        color: lightcoral;
      }
    
      .orange {
        color: orange;
      }
    
    
    
      #drop-element {
        height: 100px;
        width: 100px;
        background-color: orange;
        /*targeting Chrome & Safari*/
        display: -webkit-flex;
        /*targeting IE10*/
        display: -ms-flex;
        display: flex;
        justify-content: center;
        /*horizontal centering*/
        align-items: center;
      }
    
      .hidden {
        visibility: hidden;
      }
    
      .hide {
        display: none;
      }
    }
    
    /* Medium devices */
    
    @media (min-width: 768px) {
      .draggable-container {
        height: 300px;
        width: 300px;
      }
    
      #draggable-element {
        position: absolute;
        top: 10%;
        left: 30%;
        height: 90px;
        width: 90px;
      }
    
      #drop-element {
        position: absolute;
        top: 263px;
        left: 648px;
        height: 200px;
        width: 200px;
        /* visibility: hidden; */
      }
    
      .title {
        font-size: 40px;
      }
    }

    .squares-container {
        margin-top: 50px;
        margin-bottom: 50px;
        background-image: url('background.png');
    
        background-repeat: no-repeat;
        background-position: center center;
        size: 110%;
    }
  